main {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-block: 24px; /* Aplica um espaço no top e no bottom do container */
}

main img {
    width: 286px;
    height: 286px;
    object-fit: cover;
}